.navbar{
    background-color: #343A40;
    box-shadow: #000218;
}

.navbar-nav .nav-link {
    color: #eaeaea !important;
}

.navbar-nav .nav-link:hover {
    color: #ffffff !important;
    font-weight: 500;
    transition: ease-out;
    transition-duration: 0.15s;
    text-decoration: underline;
    padding: 10px;
}

.jumbotron {
    height: 100%;
    background-color: #343A40;
    color: #ffffff;
}

.img-fluid {
    width: 300px;
    height: auto;
}